*
!**/
!.gitignore
!**/*.c
!**/*.py
.ipynb_checkpoints
!c/makefile/makefile
!ds/makefile
!**/*.md
!**/*.sh
!**/*.h
!**/*.a
!cyber/authentication/pam_cyber.conf
!cyber/authentication/pam_cyber
!cyber/authentication/pam_auth
!cyber/cryptography/*
!.myfuncs
