*
!**/
!.gitignore
!**/*.c
**/.pynb*
!**/*.py
!c/makefile/makefile
!ds/makefile
!**/*.md
!**/*.sh
!**/*.h
!**/*.a
!cyber/authentication/pam_cyber.conf
!cyber/authentication/pam_cyber
!cyber/authentication/pam_auth
!.myfuncs
